# For local Development use
DEFAULT_RELAYS=wss://relay.damus.io,wss://relay.snort.social/,wss://nos.lol/,wss://nostr.wine/
DEFAULT_WORKSPACE=febcf8e93f7ae4a6d04679ad579accab221249897bd4a592b750ac0a77b0b4bf_c85d62ed-ca48-49dd-af4f-fc5b7fb4b013
