@import "./assets/css/sass/_mixins.scss";
@import "./triangle_mixin.scss";

$theme-color-blue: #145388;
$warning-color: #b69329;

$light-color: rgb(239, 243, 244);
$dark-gray: rgba(200, 200, 200, 1);

$border-strong: 1px solid $dark-gray;
$border-light: 1px solid $light-color;

$font: "Nunito", sans-serif;

$ph-gutter: 10;
$ph-border: 0;
@import "../node_modules/placeholder-loading/src/scss/placeholder-loading.scss";

.no-underline {
  text-decoration: none;
}

body {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: $font;
  font-weight: 400;
  line-height: 1.5rem;
}

.border-strong {
  border: $border-strong
}

.border-top-strong {
  border-top: $border-strong;
}

.border-bottom-strong {
  border-bottom: $border-strong;
}

.border-right-strong {
  border-right: $border-strong;
}

.border-bottom-light {
  border-bottom: $border-light;
}

.background-dark {
  background: $dark-gray;
}

.background-white {
  background-color: white;
}

.background-transparent {
  background: transparent !important;
}

.workspace-columns {
  display: grid;
  grid-auto-columns: 375px;
  @include respond-below(xs) {
    grid-auto-columns: 100vw;
    scroll-snap-type: x mandatory;
  }
  grid-auto-flow: column;
  grid-gap: 8px;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  overflow-x: scroll;
  position: relative;
}

.btn {
  border-radius: 4px;
  padding: 5px;
  min-width: 38px;
  min-height: 35px;
  font-size: 1rem;

  &:not(.btn-primary):not(.btn-success):not(.btn-outline-dark) {
    &:hover,
    &:active {
      background: $dark-gray;
    }
  }

  border: $border-strong;
}

.pressed {
  box-shadow: inset 3px rgba(0, 0, 0, 0.125);
  background-color: rgba(200, 200, 200, 0.5);
  border: inset 1px black;
}

.input-group:focus-within,
.dropdown-toggle:focus,
.dropdown-item:focus,
.btn:focus {
  box-shadow: 0 0 0 0.08rem rgba(0, 0, 0, 0.5) !important;
}

.btn-borderless {
  border: none;
}

.deselected {
  opacity: 0.6;
}

.navbar .btn {
  margin: 3px;
}

.flex-grow-1 {
 flex-grow: 1;
}

.scroll {
  overflow-y: scroll;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.workspace-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  @include respond-below(xs) {
      scroll-snap-align: start;
  }
}

.modal-dialog {
  @include respond-below(xs) {
    margin: 0px !important;
  }
}

.flex-col-100 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.height-100 {
  height: 100%;
}

.add-node-button {
  border: 0px;
  width: 100%;
  text-align: left;
  background: white;

  &:hover,
  &:active {
    background: $light-color;
  }
}

.outer-node-title {
  border-bottom: $border-strong;
  font-size: 20px;
}

.outer-node-title .inner-node {
  padding: 1rem;
}

.node-content-button {
  background: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-align: inherit;
  border: 2px solid transparent;

  &.cursor-on-hover {
    &:hover,
    &:focus,
    &:active {
      cursor: text;
    }
  }
}

.editor {
  border-radius: 3px;
  font-family: $font;
  font-size: 16px;
}

.editor .ql-container {
  font-size: 16px;
  font-family: $font;
}

.ql-editor {
  padding: 0 !important;
}

.ql-editor.ql-blank::before {
  left: 0 !important;
  color: grey;
  font-family: $font;
  font-size: 16px;
}

.dragging-over {
  background-color: #ebecf0;
  height: 64px;
}

.outer-node-container {
  display: flex;
  flex-direction: column;
}

.board {
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.outer-node {
  border: $border-strong;
  border-radius: 3px;
  flex-grow: 0;
  background-color: white;
}

.knowledge-exchange .outer-node {
  max-height: 100%;
}

.flex-grow-1 .workspace-column {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.modal .modal-header {
    border-bottom: $border-strong;
}

.modal-node-title .inner-node {
  border-bottom: none;
}

.inner-node {
  border-bottom: $border-light;
}

.modal-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-content {
  border-radius: 0px;
}

.hover-light-bg {
  &:hover {
    background: $light-color;

    .ph-item {
        background: $light-color;
    }
  }
}

.black-dimmed {
  color: rgba(0, 0, 0, 0.6);
}

.hover-black-dimmed {
  background: transparent;
  transition: none !important;
  &:hover {
    color: rgb(0, 0, 0) !important;
    opacity: 1 !important;
  }
}

.dimmed {
  position: relative;
}

.dimmed:before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.danger {
  color: red;
}

.success {
  color: green;
}

.icon-large {
  font-size: 2rem;
}

.outer-node-title .dropdown-toggle::after {
  display: none;
}

.navbar-right .dropdown-toggle::after {
  display: none;
}

.menu-layout .dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 3px;
}

.search-input {
  outline: none;
   &:active,
   &:focus {
    outline: none;
   }
}

.search-dropdown {
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-button {
  border: 0px;
  background-color: transparent;
  padding: 0px;

  &:hover,
  &:focus,
  &:active {
  border-radius: 50%;
  }
}

.font-size-select {
  font-size: 24px;
}

.checkbox {
  flex: 0 0 5px;
}

.align-center {
  align-items: center;
}

.vl {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.pretty {
  margin-right: 5px;
}

.navbar {
  padding: 2px 2px;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.navbar .navbar-left {
  justify-content: flex-start;
}

.navbar .navbar-right {
  display: flex;
  justify-content: flex-end;
}

.dropdown-item-wide {
  padding-left: 1.5rem;
  padding-right: 0.75rem;
  width: 20rem;
}

.options-dropdown {
  .dropdown-menu {
    padding: 0;
  }

  .dropdown-submenu-toggle {
    padding: 0.75rem 0.75rem;
    border: 0;
    background: white;
    color: #212121;

    &:hover,
    &:focus {
      background: #f8f8f8;
      background-color: #f8f8f8;
      color: #212121;
    }
    &.active,
    &:active {
      color: #212121;
      text-decoration: none;
    }
  }

  .dropdown-item {
    padding-left: 0.75rem;
  }

  .dropdown-item-icon {
    width: 24px;
    padding-top: 5px;
    margin-right: 0.75rem;
    font-weight: bold;
  }

  .dropdown-item-icon-right {
    padding-top: 5px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-weight: bold;
  }

  .workspace-selection-text {
    font-size: 16px;
    margin-left: 0;
  }

  .dropdown-item-border-bottom {
    border-bottom: solid thin;
  }
}

.workspace-title {
  font-size: 1.2rem;
  padding: 5px;
  margin-right: 5px;
  white-space: nowrap;
}

.font-size-big {
  font-size: 1.2rem;
}

.font-size-medium {
  font-size: 1rem;
}

.font-size-small {
  font-family: $font;
  font-size: 0.8rem;
}

.modal-node-title-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
}

.visible-on-hover {
  position: relative;

  .on-hover-menu {
    position: absolute;
    top: 1px;
    height: min-content;
    visibility: hidden;
  }

  &:hover {
    .on-hover-menu {
      visibility: visible;
    }
  }

  .left {
    left: 1px;
  }

  .right {
    right: 1px;
  }
}

.btn-close {
  font-size: 1.5rem;

  &:after {
    content: "✕";
  }

  &.small {
    font-size: 0.8rem;
  }
}

.row {
  flex-direction: row;
  column-gap: 3px;
}

.workspace-selection {
  justify-content: flex-start;
}

.workspace-selection-text {
  font-family: $font;
  font-size: 18px;
  margin-left: 5px;
}

.navbar-title {
  font-family: $font;
  font-size: 18px;
  overflow: hidden;
  justify-content: end;
}

.project-selection {
  padding-left: 5px;
  font-family: $font;
  font-size: 24px;
  color: black;
}

.circle-picker {
  margin-top: 20px;
}


.black-muted {
  color: rgba(0, 0, 0, 0.8);
}

.white-space-normal {
  white-space: normal;
}

.bold {
    font-weight: bold;
}

.italic {
  font-style: italic;
}

.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.break-word {
  overflow-wrap: anywhere;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: $light-color;
}

.menu-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: auto;
  gap: 2px;
}

.underline {
  text-decoration: underline;
}

.select-relation .dropdown .btn {
  border-radius: 0 35px 35px 0 !important;
}

.select-relation .btn {
  border-radius: 35px 0px 0px 35px !important;
}

.select-relation .btn:only-child, .new-relation {
  border-radius: 35px !important;
}

.select-relation .btn, .new-relation {
  padding: 0.45rem;
  line-height: .5;
  font-size: .68rem;
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  margin-top: 5px;
}

.relation-type-selection-color {
  border-radius: 35px !important;
  padding: 0.45rem;
  line-height: .5;
  font-size: .68rem;
  width: 25px;
  height: 25px;
}

.btn:disabled.opacity-none {
  opacity: 1;
}

.max-height-100 {
  max-height: 100%;
}

.height-preserving-container:empty {
  min-height: calc(var(--child-height));
  box-sizing: border-box;
}

.is-dragging {
  opacity: 0.4;
}

.dragging-over-top {
  box-shadow: inset 0 2px 0 $theme-color-blue;
}

.dragging-over-bottom {
  box-shadow: inset 0 -2px 0 $theme-color-blue;
}

.no-shadow {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.gap-0 {
  gap: 0;
}

.bitcoin-orange {
  color: #f7931a;
}

.navbar-project {
  border-bottom: 5px solid #f7931a;
}

.spinner-navbar {
  height: 15px;
  width: 15px;
  font-size: 12px;
}
